/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background-color:#1c2541;
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #1977cc;
  text-decoration: none;
}

a:hover {
  color: #3291e6;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
   font-family: "Open Sans", sans-serif;
}
/*--------------------------------------------------------------
# topbar
--------------------------------------------------------------*/
#topbar {
  background-color:  #154360 ;
}


/*--------------------------------------------------------------
# modalform
--------------------------------------------------------------*/
.modalform{
  padding:auto;
  width:auto;
  height: auto;
  margin: auto !important;
  margin-top: 0 !important;
  margin-left: auto  !important;
  margin-right: auto  !important;
}
.containerform{
  margin-top: 0 !important;
margin-right: auto !important;
margin-bottom: 0 !important;
margin-left: auto !important;
}
.modalbody{


}
.bg-image{
  width: 500px;
  height: 300px;

}
/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/

.services .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  margin: 0;
  background: #fff;
  transition: all 0.3s ease-in-out;
  border-radius: 15px;
  text-align: center;
  border-bottom: 3px solid #fff;
}
.services .icon-box:hover {
  box-shadow: 0 2px 29px 0 rgba(37, 37, 37, 0.1);
   background: #A6B4BD;
   
}
.services .icon i {
  font-size: 48px;
  line-height: 1;
  margin-bottom: 15px;
}
.services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}
.services .title a {
  color: #111;
}
.services .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}
.services .icon-box-pink .icon i {
  color: #ff689b;
}
.services .icon-box-cyan .icon i {
  color: #3fcdc7;
}
.services .icon-box-green .icon i {
  color: #41cf2e;
}
.services .icon-box-blue .icon i {
  color: #2282ff;
}

.container {
    padding-bottom: 5%;
}
.first {
  background-color: #E3E3E3;
  background-repeat: no-repeat;
  background-size: cover;
  height:900px;
  color: #455685;
}
.first h1{
  padding-top: 5%;
  text-align: center;
}
.first h1 {
  color: #455685;
}

.row{
    padding-left: 5%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.firt a {
  color: #455685;
}
.social li{
  font-size: 30px;
  display: inline-block;
  float:right;
  padding-right: 5%;
  color: #455685;
}

li a{
  color: #455685;

}

div p{
   font-style: italic;
}
 div h3 {
     border-radius: 15px;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  color: white;
  transition: background-color .5s;

 }

div h3:hover {
  border-radius: 15px;
  text-decoration: none!important;
   background-color: #4B6693;
 }


.four {
  background-image: url(asesoramiento_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 600px;

}

.four h1{
  text-decoration: none!important;
  padding: 6%;
  color: white;
}



.testimonios i{
    font-size: 40px;
}
.testimonios div {
    padding: 3%;
    color: #6D6E72;
}



.what_to_do button a{
  color:  #222828;
  font-variant: all-petite-caps;
}

#team{
	   background-color: #173547 ;
}
#cochesnuevos{
	   background-color: #E0E5E8;
	    color:#fff !important;
}
.card{
	
	 color:#fff !important;
}









 a h4 {

   color: white;
      transition: background-color .5s;
 }

a h4:hover {
  text-decoration: none!important;
   background-color: #4B6693;
 }


.four button{
  background-color: #1C2541;
  border-radius: 6px;
  padding: 3%;
}

.what_to_do button a{
  color: black;
  font-variant: all-petite-caps;
}

.four {
  background-image: url(../images/grande.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 420px;

}

.four h1{
  text-decoration: none!important;
  padding: 10%;
  color: white;
}

 .four button a{
   color: white;
   font-variant: all-petite-caps;
   font-size: 25px;
 }

.first {
  background-image: url(../images/car_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height:700px;
  color: white;
}

